<div class="container-fluid">
  <h1 class="big5 text-center">Objectifs</h1>
  <ul class="fa-ul big2 ">
    <li class="blink-item my-4">
      <i class="fas fa-arrow-right text-success"></i>
      Tâches répétitives et tâches retardées
      <span class=" small text-success">(setTimout et setInterval)</span>
    </li>
    <li class="blink-item my-4">
      <i class="fas fa-arrow-right text-success"></i>
      Event Loop
      <span class=" small text-success"
        >(Pour éviter de bloquer le browser)</span
      >
    </li>
    <li class="blink-item my-4">
      <i class="fas fa-arrow-right text-success"></i>
      Evénements du DOM
      <span class=" small text-success"
        >(addEventListener, removeEventListener)</span
      >
    </li>
  </ul>
</div>
