<div class="container ">
  <h1 class="big4 text-center">Créer un nouveau cours</h1>
  <ul class="fa-ul big2">
    <li>
      <i class="fas fa-arrow-circle-right"></i>
      Cliquer sur le bouton <strong>+</strong>,
      <ul class="fa-ul">
        <li class="py-2">
          <i class="fas fa-arrow-right"></i>
          <strong>Avec un navigateur,</strong>

          cliquer sur <strong>créer un cours</strong>.
          <i
            class="fas fa-search-plus text-info"
            title="Cliquez sur l'image pour l'agrandir"
          ></i>
          <img
            src="../../images/desktop-creer-cours.jpg"
            class="img-inline"
            alt=""
          />
          Ensuite renseigner <strong>les informations du cours</strong>
          <span class="text-muted"> (Nom, Section, Matière, Salle) </span>.

          <i
            class="fas fa-search-plus text-info"
            title="Cliquez sur l'image pour l'agrandir"
          ></i>
          <img
            src="../../images/desktop-creation-cours.jpg"
            class="img-inline"
            alt=""
          />.
        </li>
        <li class="py-2">
          <i class="fas fa-arrow-right"></i>
          <strong>Avec le mobile,</strong>

          cliquer sur <strong>créer un cours</strong>.
          <i
            class="fas fa-search-plus text-info"
            title="Cliquez sur l'image pour l'agrandir"
          ></i>
          <img
            src="../../images/mobile-creer-cours-btn-plus.jpg"
            class="img-inline"
            alt=""
          />

          <img
            src="../../images/mobile-creer-cours.jpg"
            class="img-inline"
            alt=""
          />
          Ensuite renseigner <strong>les informations du cours</strong>
          <span class="text-muted"> (Nom, Section, Matière, Salle) </span>.

          <i
            class="fas fa-search-plus text-info"
            title="Cliquez sur l'image pour l'agrandir"
          ></i>
          <img
            src="../../images/mobile-creation-cours.jpg"
            class="img-inline"
            alt=""
          />.
        </li>
      </ul>
    </li>
  </ul>
</div>
