<div class="container text-center">
  <h1 class="big4 text-center">Les événements du DOM</h1>
  <div id="outer" class="border border-primary p-1 m-3">
    #outer
    <div id="inner" class="border border-primary p-1 m-3">
      #inner
      <form action="script.jsp" class="form-inline m-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="#name" />
        </div>
        <button class="btn btn-success">Envoyer</button>
      </form>
    </div>
  </div>
  #table
  <table id="table" class="table table-bordered table-striped">
    <tr>
      <td>cell 1</td>
      <td>cell 2</td>
      <td>cell 3</td>
      <td>cell 4</td>
      <td>cell 5</td>
    </tr>
    <tr>
      <td>cell 1</td>
      <td>cell 2</td>
      <td>cell 3</td>
      <td>cell 4</td>
      <td>cell 5</td>
    </tr>
    <tr>
      <td>cell 1</td>
      <td>cell 2</td>
      <td>cell 3</td>
      <td>cell 4</td>
      <td>cell 5</td>
    </tr>
  </table>
</div>
