<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <a href="https://github.com/daaif/slides" target="_blank"
        >Github repository
      </a>
    </li>
    <li class="list-group-item">
      <h2>who am I</h2>
      <p><kbd>Abdelaziz DAAIF</kbd></p>
      <p>Enseignant Chercheur à l'ENSET Mohammedia</p>
      <p>Chef du département Mathématiques et Informatique</p>
      <p>Université Hassan II de Casablanca</p>
    </li>
    <li class="list-group-item">
      <h2>Licence</h2>
      <p><kbd>MIT</kbd></p>
    </li>
  </ul>
</div>
